<div>
  <div class="example-headero">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let user" >{{ user.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Usuario</mat-header-cell>
      <mat-cell *matCellDef="let user" >{{ user.username }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let user" >{{ user.email }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" color="accent"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns" ></mat-row>
  </mat-table>

  <mat-paginator (page)="accionPagina($event)" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
</div>
